<%= render "shared/header"%>

<%# スケジュール全体を表示 %>
<div class="schedule-show">
  <div class="schedule-title">
    <h3 class="location">
      <%= @itinerary.location %>
    </h3>
    <div class="date">
      <%= @itinerary.date%>
    </div>
  </div>
</div>