/* スケジュール一覧 */
.date-info{
  font-size: 9px;
  text-decoration: none;
}

/* 行きたい場所リストと共通 */
.index-title{
  height: 10vh;
  font-size: 26px;
}

.add-list{
  height: 5vh;
  display: flex;
  justify-content: right;
  margin-right: 10px;
  text-decoration: none;
}

.index-lists{
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.index-lists a{
  text-decoration: none;
  color: black;
}

.index-lists>.list{
  width: 50vw;
  padding: 1vw;
  background-color: #FFF;
}

.logo-image{
  width: 20vw;
  height: 20vh;
}

.footer-image{
  height: 10vh;
}

.blue-post-it{
  width: 180px;
  height: 180px;
}

.edit-button{
  text-align: right;
  color: black;
}