.main{
  text-align: center;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.itinerary-title{
  margin: 10px 0;
  font-size: 26px;
}

.add-list{
  display: flex;
  justify-content: right;
  margin-right: 10px;
  text-decoration: none;
}

.itinerary-lists{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-decoration: none;
}

.itinerary-lists>.list{
  width: 30vw;
  padding: 1vw;
  background-color: #FFF;
}

.date-info{
  text-decoration: none;
}