/* スケジュール一覧 */
.date-info{
  text-decoration: none;
}

/* 行きたい場所リストと共通 */
.index-title{
  margin: 10px 0;
  font-size: 26px;
}

.add-list{
  display: flex;
  justify-content: right;
  margin-right: 10px;
  text-decoration: none;
}

.index-lists{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-decoration: none;
}

.index-lists>.list{
  width: 50vw;
  padding: 1vw;
  background-color: #FFF;
}

.blue-post-it{
  width: 200px;
  height: 200px;
}

.logo-image{
  width: 25vw;
  height: 25vh;
}