.location{
  font-size: 24px;
  margin: 10px 0;
}

.date-title{
  font-size: 16px;
  margin: 10px 0 0 0;
}

.main-contents{
  height: 50vh;
}

.schedule-title{
  height: 10vh;
}

.show-main-contents{
  height: 50vh;
}

.show-main-content{
  display: flex;
  margin: 5px;
}

.time-title{
  margin: 1px 5px 1px 20px;
}

.content-title{
  margin: 1px 20px 1px 5px;
}

.icon {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.icon-select {
  margin-top: 10px;
}

.icon-display i {
  font-size: 15px; /* Icon size */
  margin-right: 8px; /* Space between icon and text */
  color: #333; /* Icon color */
}

/* 行きたい場所リストと共通 */
.show-title{
  height: 10vh;
  font-size: 24px;
}

.underline-image{
  width: 100vw;
  height: 5vh;
}

.each-lists{
  height: 50vh;
}

.each-list{
  margin: 10px 0;
}

.add-data{
  height: 15vh;
}

.fill-in-form{
  border-radius: 5px;
  padding: 5px 10px;
}

.save-btn{
  background-color: #93C7CB; /* Green background */
  color: black; /* White text */
  padding: 5px 10px; /* Padding for a larger button */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 14px; /* Adjust font size */
}

/* フォトブック */
.photo-left{
  text-align: left;
  margin-left: 30px;
}

.photo-right{
  text-align: right;
  margin-right: 30px;
}

.album-title{
  text-align: left;
  margin-left: 40px;
}

img {
  height: 100px;
  width: 100px;
  /* 縦横比を保ったまま、画像を縦横100pxのサイズに収めるプロパティです */
  object-fit: contain;
}