.location{
  font-size: 24px;
  margin: 10px 0;
}

.date-title{
  font-size: 16px;
  margin: 10px 0 0 0;
}

.main-contents{
  height: 50vh;
}

.schedule-title{
  height: 5vh;
  font-size: 20px;
}

.show-main-contents{
  height: 50vh;
  margin: 5px;
}

.icon {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.icon-select {
  border-color: #93C7CB;
  margin-top: 10px;
  text-align: center;
}

.icon-display i {
  font-size: 15px;
  margin-right: 8px;
  color: #333;
}

.arrow-down-image{
  height: 5vh;
  width: 100vw;
}

/* 行きたい場所リストと共通 */
.show-title{
  height: 10vh;
  font-size: 24px;
}

.underline-image{
  width: 100vw;
  height: 5vh;
}

.each-lists{
  height: 50vh;
}

.each-list{
  margin: 10px 0;
}

.add-data{
  height: 15vh;
  margin: 5px;
}

.fill-in-form{
  border-color: #93C7CB;
  border-radius: 5px;
  padding: 5px 10px;
}

.save-btn{
  background-color: #93C7CB;
  color: black;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px 0;
}

/* フォトブック */
.photo-left{
  text-align: left;
  margin-left: 30px;
}

.photo-right{
  text-align: right;
  margin-right: 30px;
}

.album-title{
  text-align: left;
  margin-left: 40px;
}

img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}