.location{
  font-size: 24px;
  margin: 10px 0;
}

.date{
  font-size: 20px;
  margin: 10px 0;
}

/* 行きたい場所リストと共通 */
.show-title{
  font-size: 24px;
  margin-top: 15px;
}

.underline-image{
  width: 100vw;
  height: 6vh;
}

.each-list{
  margin: 10px 0;
}