<footer class="footer-top">
  <%= link_to(root_path, class: "top-btn") do %>
    <%= image_tag "originalapp-footer.png", size: "100x100", class:"footer-image" %>
  <% end %>
  <div class="footer">©︎Have a nice trip!</div>
</footer>