<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class="all-page-header">
  <div class="top-image">
    <%= image_tag "app-image.png", class:"app-image" %>
  </div>
  <div class="top-logo">
    <%= link_to image_tag("app-logo.png", class:"app-logo"), "/" %>
  </div>
</header>