<%= render "shared/header"%>

<div class="main">
  <div class="list-title">
    フォトブックを作成する
  </div>
  <%= form_with model: @record, local: true do |f| %>
    <div class="fill-in-form">
      <div class="list-form">
        フォトブックのタイトル
        <%= f.text_area :title, class:"list-text", id:"title", placeholder:"例）沖縄旅行の思い出2024" %>
      </div>
      <div class="list-button">
        <%= f.submit "作成する", class:"save-btn"%>
      </div>
    </div>
  <% end %>
</div>
