.original-logo{
  width: 50vw;
  height: 50vh;
}

.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
}

.login-lightblue-btn {
  width: 100%;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #49688D;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.field{
  margin-top: 5px;
  text-align: center;
}